<div class="container my-2 ps-0" *ngIf="blog">
  <div class="row">
    <!-- Sidebar Component -->
    <div class="col-md-3 px-4">
      <!-- Truyền event từ Sidebar sang BlogDetail -->
      <app-sidebar-blog 
         (categorySelected)="onCategorySelected($event)" 
         (recentPostSelected)="onRecentPostSelected($event)">
      </app-sidebar-blog>
    </div>

    <!-- Blog Content -->
    <div class="col-md-9">
      <div class="blog-detail mb-5">
        <!-- Nội dung chi tiết blog -->
        <div class="blog-meta d-flex align-items-center text-orange">
          {{ blog.categories }}
        </div>
        <h3 class="fw-bold text-secondary">{{ blog.title }}</h3>
        <div [innerHTML]="blog.content"></div>
        <p class="text-muted">By {{ blog.author }} - {{ blog.createDate | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>
</div>
