<div class="container my-2 ps-0">
    <div class="row">
        <!-- Sidebar Component -->
        <div class="col-md-3 px-4">
            <app-sidebar-blog></app-sidebar-blog>
        </div>

        <!-- Blog Content -->
        <div class="col-md-9">
            <div class="blog-detail">
                <div class="blog-meta d-flex align-items-center text-orange">
                    <img src="asset/tag-icon.png" alt="Tag Icon" class="icon me-2"> {{ blog.category }}
                </div>

                <h3 class="fw-medium">{{ blog.title }}</h3>

                <p>{{ blog.content1 }}</p>
                <p>{{ blog.content2 }}</p>

                <!-- Gallery -->
                <div class=" gallery row my-3">
                    <div class="col-4" *ngFor="let image of blog.gallery">
                        <img [src]="image" alt="Gallery Image" class="img-fluid">
                    </div>
                </div>

                <p>{{ blog.content3 }}</p>
                <p>{{ blog.content4 }}</p>
                <p>{{ blog.content5 }}</p>
            </div>
        </div>
    </div>
</div>
