<div class="container my-2 ps-0">
  <div class="row">
    <!-- Sidebar Component -->
    <div class="col-md-3 px-4">
      <app-sidebar-blog (categorySelected)="onCategorySelected($event)"></app-sidebar-blog>
    </div>

    <!-- Blog Content -->
    <div class="col-md-9">
      <ng-container *ngFor="let blog of blogs">
        <ng-container *ngIf="!selectedCategory || blog.category === selectedCategory">
          <div class="blog-detail mb-5">
            
            <!-- Blog Meta -->
            <div class="blog-meta d-flex align-items-center text-orange">
              <img src="asset/tag-icon.png" alt="Tag Icon" class="icon me-2"> 
              {{ blog.category }}
            </div>

            <!-- Blog Title -->
            <h3 class="fw-bold text-secondary">{{ blog.title }}</h3>

            <!-- Blog Content -->
            <p>{{ blog.content1 }}</p>
            <p>{{ blog.content2 }}</p>

            <!-- Gallery -->
            <div class="gallery row my-3">
              <div class="col-4" *ngFor="let image of blog.gallery">
                <img [src]="image" alt="Gallery Image" class="img-fluid">
              </div>
            </div>

            <p>{{ blog.content3 }}</p>
            <p>{{ blog.content4 }}</p>
            <p>{{ blog.content5 }}</p>

            <hr>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
