.container{
    width: 580px;;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: #fff 2px solid;
    background-color: #fff;
  }
  
  .form-label {
    font-weight: bold;
    color: #5c5c5c;
  }
  
  .img-fluid {
    border-radius: 50%;
  }
  
  .btn-sm {
    font-size: 12px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-4, .mb-3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  