<div class="center-container">
  <div class="container-reset-password">
    <h2 class="text-secondary fw-bold text-center">Reset Password</h2>
    <p class="text-center text-primary">
      Please use a strong password<br />
      (Must be at least 8 characters)
    </p>

    <form (ngSubmit)="onSubmit()">
      <!-- Password Field -->
      <div class="mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Enter your new password"
          class="input-container mt-2"
          [(ngModel)]="password"
          [ngModelOptions]="{standalone: true}" 
          required
        />
      </div>

      <!-- Confirm Password Field -->
      <div class="mt-2">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm your new password"
          class="input-container mt-2"
          [(ngModel)]="confirmPassword"
          [ngModelOptions]="{standalone: true}" 
          required
        />
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary mt-2 mb-2 fw-bold" (click)="onSubmit()">
        SUBMIT
      </button>
    </form>
  </div>
</div>
