<div class="center-container">
  <div class="dang_ky">
    <h2 class="text-secondary text-center">Create your account</h2>
    <form>
      <input type="text" class="khung_nhap" placeholder="Enter your Email">
      <input type="email" class="khung_nhap" placeholder="Enter your Password">

    <div class="dong_dieu_khoan">
        <input type="checkbox">
        <span class="text-info">Remember me</span>
     </div>
    <p class="text-info text-center">
        <a routerLink="./forgot-password">Forgot password?</a>
        <br>
        <a routerLink="./sign-up">Create new account</a>
    </p>
      <button type="submit" class="btn text-uppercase btn-primary">Sign in</button>

      <br><br>

      

      <p class="text-info text-center">or do it via other accounts</p>

      <div>
        <a routerLink=" ">
          <img src="asset/ggicon.png" alt="Google" class="google-icon">
        </a>
      </div>
    </form>
  </div>
</div>

