<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <div class="sub-header">
        Free shipping for orders over 5 million VND
    </div>

    <div class="main-header">
        <div class="header-left">
            <a routerLink="homepage"> <!--Route load lại homepage-->
                <img src="asset/logo.png" width="150px" alt="Logo">
            </a>
        </div>

        <div class="header-center">
            <div class="search-box">
                <input type="text" placeholder="Search product...">
                <button class="search-btn">
                    <img src="asset/search.png" alt="Search" class="custom-icon">
                </button>
            </div>
        </div>

        <div class="header-right">
            <a routerLink="sign-up" class="auth-link">Sign up</a> /<!--Route tới trang signup/signin-->
            <a routerLink="sign-in" class="auth-link">Sign in</a>
            <a routerLink="cart" class="cart-link"> <!--Route tới trang giỏ hàng-->
                <div class="cart-icon-wrapper">
                    <img src="asset/cart-icon.png" alt="Cart Icon" class="cart-icon">
                    <span class="cart-badge">0</span>
                </div>
                <span class="cart-text">Cart</span>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white">
        <div>
            <!-- Navbar Menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-medium" routerLink="">Homepage</a>
                    </li>

                    <!-- Product Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link d-flex align-items-center fw-medium" routerLink="products" id="productDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-journal-text "></i> Product
                            <i class="fa fa-chevron-down dropdown-icon ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productDropdown">
                            <li><a class="dropdown-item" routerLink="products/living-room">Living Room</a></li>
                            <li><a class="dropdown-item" routerLink="products/bedroom">Bed Room</a></li>
                            <li><a class="dropdown-item" routerLink="products/dining-room">Dining Room</a></li>
                            <li><a class="dropdown-item" routerLink="products/workspace">Workspace</a></li>
                            <li><a class="dropdown-item" routerLink="products/home-decor">Home Decor & Accessories</a></li>
                        </ul>
                    </li>

                    <!-- Blog Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link d-flex align-items-center fw-medium" routerLink="blog" id="blogDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-journal-text"></i> Blog
                            <i class="fa fa-chevron-down dropdown-icon ms-1"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="blogDropdown">
                            <li><a class="dropdown-item" routerLink="blog/people">People</a></li>
                            <li><a class="dropdown-item" routerLink="blog/tips">Tips</a></li>
                            <li><a class="dropdown-item" routerLink="blog/inspiration">Inspiration</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fw-medium" routerLink="room-shape">Customize</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fw-medium" routerLink="about-us">About us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fw-medium" routerLink="policy">Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>