<!-- Benefits banner -->
<div class="benefit-banner"> 
    <img src="asset/banners/benefit.png" height="" title="Benefits" alt="High quality, Warranty Protection, Free Shiopping, 24/7 Support">
</div>
<div class="wrapper">
    <!-- Main Content -->
    <div class="content">
    </div>

    <!-- Footer Section -->
    <footer class="mt-auto">
        <!-- Newsletter Subscription Section -->
        <div class="text-primary py-4 w-100">
            <div class="newsletter">
                <div class="row align-items-center bg">
                    <div class="col-md-6 my-4 px-5">
                        <h4 class="fw-bold text-primary mt-3">Subscribe for our newsletter</h4>
                        <p class="text-info">Be the first to know about our special offers, news, and updates.</p>
                    </div>
                    <div class="col-md-6 my-4">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email address">
                            <button class="btn btn-primary fw-medium fs-7">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Footer Links -->
        <div class="container">
            <div class="row">
                <a routerLink="/homepage"><img src="asset/logo.png" width="160px" height="45px"></a><br><br><br>
                <!-- Contact Section -->
                <div class="col-md-3">
                    <p class="text"><strong>Contact us</strong></p>
                    <p>thekansogmail.com<br><br>1800 - 6969<br><br>669 Do Muoi, District 1, HCM City</p>
                    <div>
                        <a href="https://www.facebook.com" class="mx-2"><img src="asset/sn/Facebook.svg" width="20px" height="20px"></a>
                        <a href="https://www.linkedin.com" class="mx-2"><img src="asset/sn/Linkedin.svg" width="20px" height="20px"></a>
                        <a href="https://www.twitter.com" class="mx-2"><img src="asset/sn/Twitter.svg" width="20px" height="20px"></a>
                        <a href="https://www.instagram.com" class="mx-2"><img src="asset/sn/Instagram.svg" width="20px" height="20px"></a>
                    </div>
                </div>

                <!-- Product Section -->
                <div class="col-md-3">
                    <a routerLink="products"><strong>Product</strong></a><br><br>
                    <a routerLink="products">Living Room</a><br><br>
                    <a routerLink="products">Dining Room</a><br><br>
                    <a routerLink="products">Bed Room</a><br><br>
                    <a routerLink="products">Workspace</a><br><br>
                    <a routerLink="products">Home Decor & Accessories</a>
                </div>

                <!-- Policy Section -->
                <div class="col-md-3">
                    <a routerLink="policy"><strong>Policy</strong></a><br><br>
                    <a routerLink="policy">Sales Policy</a><br><br>
                    <a routerLink="policy">Shipping & Installation Policy</a><br><br>
                    <a routerLink="policy">Warranty & Maintenance Policy</a><br><br>
                    <a routerLink="policy">Return & Exchange Policy</a>
                </div>

                <!-- Get the App Section -->
                <div class="col-md-3">
                    <p class="text"><strong>Get the app</strong></p>
                    <a href="https://www.apple.com/vn/app-store/"><img src="asset/appstore.svg" alt="App Store" class="app-btn"></a><br><br>
                    <a href="https://play.google.com/store/games?hl=en&pli=1"><img src="asset/ggplay.svg" alt="Google Play" class="app-btn"></a>
                </div>
            </div>
        </div>

        <br>

        <!-- Copyright Section -->
        <div class="copyright text-center">
            Copyright © 2025 | The Kanso - All rights reserved.
        </div>
    </footer>
</div>