<div class="row">
    <div class="col-12 text-center mb-0">
        <h3 class="fw-bold text-center text-primary">Suggested for you</h3>
        <p class="text-center text-secondary">Maybe you could like our products</p>
    </div>
</div>
<div class="suggested-images d-flex justify-content-center gap-3">
    <div class="suggested-item">
        <img src="asset/suggested-homepage/custom3.png" alt="Suggested 1" class="img-fluid" useMap="#productMap">
        <map name="productMap">
            <area shape="poly" 
                  coords="181,210,236,211,244,208,244,229,237,232,182,230,181,210"
                  alt="Box"
                  href="/product-details/1"
                  (mouseover)="showTooltip($event, 'product1')"
                  (mouseout)="hideTooltip()">
            <area shape="poly" 
                  coords="27,285,20,279,20,228,229,237,242,232,242,248,230,253,229,315,221,314,221,255,221,255,164,252,28,245,28,284"
                  alt="Table"
                  href="/product-details/2"
                  (mouseover)="showTooltip($event, 'product2')"
                  (mouseout)="hideTooltip()">
            <area shape="poly" 
                  coords="50, 173, 46, 221, 59, 224, 70, 222, 72, 220, 72, 206, 70, 186, 68, 175, 50, 173"
                  alt="Bottle"
                  href="/product-details/3"
                  (mouseover)="showTooltip($event, 'product3')"
                  (mouseout)="hideTooltip()">
        </map>
    </div>

    <div class="suggested-item suggested-large">
        <img src="asset/suggested-homepage/custom5.png" alt="Suggested 2" class="img-fluid" useMap="#productMap2">
        <map name="productMap2">
            <area shape="poly" 
                  coords="105,0,119,99,167,116,183,112,188,72,196,1,108,0"
                  alt="Glass"
                  href="/product-details/4"
                  (mouseover)="showTooltip($event, 'product4')"
                  (mouseout)="hideTooltip()">
            <area shape="poly" 
                  coords="2,121,22,111,56,103,82,101,114,102,180,124,230,170,248,227,248,256,235,289,219,314,201,333,165,357,110,375,39,376,2,365"
                  alt="Plate"
                  href="/product-details/5"
                  (mouseover)="showTooltip($event, 'product5')"
                  (mouseout)="hideTooltip()">
        </map>
    </div>
    <div class="suggested-item">
        <img src="asset/suggested-homepage/custom4.png" alt="Suggested 3" class="img-fluid" useMap="#productMap3">
        <map name="productMap3">
            <area shape="poly" 
                  coords="58,174,80,163,100,157,133,157,169,155,199,159,220,169,239,178,232,186,208,189,187,191,161,191,129,190,84,189,58,174                  "
                  alt="Pillow"
                  href="/product-details/6"
                  (mouseover)="showTooltip($event, 'product6')"
                  (mouseout)="hideTooltip()">
            <area shape="poly" 
                  coords="232,142,249,146,261,150,277,154,277,159,278,170,278,189,279,254,257,260,250,220,239,195,241,188,243,176,236,175,210,162,202,156,232,141                  "
                  alt="Blanket"
                  href="/product-details/7"
                  (mouseover)="showTooltip($event, 'product7')"
                  (mouseout)="hideTooltip()">
            <area shape="poly" 
                  coords="278,311,277,250,254,265,249,240,247,228,244,213,226,210,163,228,86,219,
                  83,265,94,269,97,324,104,324,106,298,117,280,124,275,134,280,141,290,
                  151,313,153,342,162,341,163,323,165,303,169,295,174,280,202,270,216,
                  321,222,340,278,310"
                  alt="Cabinet"
                  href="/product-details/8"
                  (mouseover)="showTooltip($event, 'product8')"
                  (mouseout)="hideTooltip()">
        </map>
    </div>

</div>

<div class="product-tooltip" [style.left.px]="tooltipX" [style.top.px]="tooltipY" *ngIf="activeProduct">
    <div class="d-flex align-items-start gap-3">
        <img [src]="activeProduct?.image" [alt]="activeProduct?.name" class="product-thumbnail">
        <div>
            <h6 class="mb-1">{{ activeProduct?.name }}</h6>
            <p class="mb-1">{{ activeProduct?.description }}</p>
            <p class="mb-1">{{ activeProduct?.price | currency:'VND':'symbol':'1.0-0':'vi' }}</p>
        </div>
    </div>
</div>


