.shape-list {
    margin-left: 146px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.shape-item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.shape-item:hover {
    transform: scale(1.1);
}

.shape-item.selected {
    border: 2px solid #DAA86D;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.title {
    color: #402A1D;
    font-size: 24px;
    margin-left: 146px;
}

.description {
    color: #434343;
    margin-left: 146px;
    margin-top: 5px;
    width: 326px;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.shape-preview {
    flex: 1;
    margin-right: 150px;
    text-align: center;
}

.preview-title {
    font-size: 24px;
    color: #402A1D;
}

.preview-img {
    width: auto;
    height: 520px;
    object-fit:cover
}