<div class="sidebar">
    <div class="sidebar-section">
        <h5 class="section-title">BLOG CATEGORIES</h5>
        <ul class="list-unstyled">
            <li *ngFor="let category of categories">{{ category }}</li>
        </ul>
    </div>

    <div class="sidebar-section">
        <h5 class="section-title">RECENT POSTS</h5>
        <div class="recent-posts">
            <div *ngFor="let post of recentPosts" class="recent-post">
                <img [src]="post.img" alt="{{ post.title }}">
                <div>
                    <p>{{ post.title }}</p>
                    <span>{{ post.date }}</span>
                </div>
            </div>
        </div>
    </div>
</div>