/* Custom styling for account management */
.nav-link {
  font-size: 18px;
  padding: 10px;
  color: #402A1D;
}

.nav-link:hover {
  color: #DFAA6D; /* Highlight color for hover */
}

.nav-link.active {
  font-weight: bold;
  color: #402A1D;
}

/* Styling for table */
.table th {
  background-color: #f8f9fa;
  color: #402A1D;
}

.table td {
  font-size: 14px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* Button styling for pagination */
.pagination button {
  margin: 0 2px;
  font-size: 14px;
}

.pagination .active {
  background-color: #DFAA6D;
  color: white;
}

/* Custom styling for the table buttons */
.btn-outline-primary {
  border-color: #DFAA6D;
  color: #DFAA6D;
}

.btn-outline-primary:hover {
  background-color: #DFAA6D;
  color: white;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}
