<div class="container mt-5">
  <div class="row">
    
    <!-- Account Management Container -->
    <div class="col-md-4">
      <h2 class="text-primary">Account Management</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a (click)="navigateTo('')" href="..." class="nav-link">
            <span class="material-icons">account_circle</span>
            Personal information
          </a>
        </li>
        <li class="nav-item">
          <a (click)="navigateTo('order-history')" class="nav-link active" style="color: #402A1D;">
            <span class="material-icons">history</span>
            Order History
          </a>
        </li>
        <li class="nav-item">
          <a (click)="navigateTo('logout')" href="..." class="nav-link">
            <span class="material-icons">logout</span>
            Log-out
          </a>
        </li>
      </ul>
    </div>

    <!-- Order History Container -->
    <div class="col-md-8">
      <h2 class="text-primary">Order History</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of displayedOrders">
            <td>{{order.id}}</td>
            <td>{{order.date}}</td>
            <td>{{order.total}}</td>
            <td>{{order.status}}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm" (click)="viewDetails(order.id)">
                View Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between">
        <button class="page-link" (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>

        <div class="pagination">
          <button
            *ngFor="let page of pages"
            class="page-link"
            (click)="goToPage(page)"
            [class.active]="page === currentPage"
          >
            {{ page }}
          </button>
        </div>

        <button class="page-link" (click)="nextPage()" [disabled]="currentPage === totalPages">&gt;</button>
      </div>
    </div>

  </div>
</div>
