<div class="center-container">
  <div class="dang_ky">
    <h2 class="text-secondary text-center">Sign In</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="signInError" class="alert alert-danger">{{ signInError }}</div>

      <div class="input-container">
        <input 
          type="email" 
          class="khung_nhap" 
          placeholder="Type your Email" 
          [(ngModel)]="email" 
          name="email"
          required>
      </div>
      
      <div class="input-container">
        <input 
          type="password" 
          class="khung_nhap" 
          placeholder="Type your Password" 
          [(ngModel)]="password" 
          name="password"
          required>
      </div>

      <div class="dong_dieu_khoan">
        <input 
          type="checkbox" 
          [(ngModel)]="rememberMe" 
          name="rememberMe">
        <span class="text-info">
          Keep me signed in for 30 days (only use on trusted devices)
        </span>
      </div>

      <br>
      <p class="text-info text-center">
        <a routerLink="/forgot-password" style="cursor: pointer;">Forgot your password?</a>
      </p>

      <button type="submit" class="btn btn-primary btn-sm w-50 mb-3">Sign In</button>
    </form>

    <p class="mb-3 text-center">Don't have an account? <a routerLink="/sign-up" style="cursor: pointer;">Sign up now</a></p>
    
    <div class="separator">Or</div>
    <div class="social-buttons">
      <button class="btn btn-secondary w-100 mb-2 d-flex align-items-center justify-content-center social-button">
        <img src="assets/fb.png" alt="Facebook" class="me-2" width="20" height="20"> Continue with Facebook
      </button>
      <button class="btn btn-secondary w-100 mb-2 d-flex align-items-center justify-content-center social-button">
        <img src="assets/google.png" alt="Google" class="me-2" width="20" height="20"> Continue with Google
      </button>
    </div>
  </div>
</div>