<div class="object-container">
  <!-- Danh sách nội thất -->
  <div class="object-list">
    <h3>Object</h3>
    <input type="text" placeholder="Search product" style="width: 220px ;">
    <select>
      <option>All Categories</option>
      <option>Sofa</option>
      <option>Table</option>
    </select>

    <div class="object-items">
      <div *ngFor="let item of furnitureList" class="furniture-object" 
           draggable="true" 
           (dragstart)="onDragStart($event, item)">
        <img [src]="item.coverImage" [alt]="item.productName">

        <p>{{ item.productName }}</p>
      </div>
    </div>
  </div>


  <!-- Khung phòng -->
  <div class="room-shape-section" 
       (dragover)="onDragOver($event)" 
       (drop)="onDrop($event)">
    <H3 style="font-size: 24px ;">Click on the product to view details</H3>
    <div class="room">
      <div class="image-container">
        <!-- Hình ảnh có vùng tương tác -->
        <img [src]="imageUrl" alt="Room Shape" class="room-image" usemap="#image-map" />
    
        <!-- Image Map -->
        <map name="image-map">
          <!-- Vùng 1 -->
          <area shape="rect" coords="22,84,170,268" 
                href="#" alt="Region 1" 
                (mouseover)="showTooltip($event, 'Ấn để xem chi tiết sản phẩm')" 
                (mouseout)="hideTooltip()">
    
          <!-- Vùng 2 -->
          <area shape="rect" coords="265,183,522,341" 
                href="#" alt="Region 2" 
                (mouseover)="showTooltip($event, 'Ấn để xem chi tiết sản phẩm')" 
                (mouseout)="hideTooltip()">
        </map>
    
    
      <!-- Tooltip -->
      <div *ngIf="tooltipVisible" class="tooltip" 
           [style.left.px]="tooltipX" 
           [style.top.px]="tooltipY">
          {{ tooltipText }}
      </div>
    </div>


      <!-- Hiển thị các đồ nội thất đã được kéo vào phòng -->
      <div *ngFor="let obj of placedFurniture" 
           class="placed-object"
           [style.top.px]="obj.y" [style.left.px]="obj.x" [style.transform]="'scale(1)'"
           (mousedown)="startDragging($event, obj)">
        <img [src]="obj.imageUrl" [alt]="obj.name">
      </div>
    
    </div>
    <button class="generate-room" 
        [routerLink]="['/cart']" 
        [queryParams]="{ productIds: ['67d91a68b1de02f4b0e31efd', '67d91a68b1de02f4b0e31f1d','67d91a68b1de02f4b0e31ef6','67d91a68b1de02f4b0e31f00'] }">
  GO TO SHOPPING
</button>

  </div>



</div>
