
<app-header></app-header>
<!-- <app-oder></app-oder> -->
 <!-- <app-order-detail></app-order-detail> -->
  <!-- <app-personal-in4></app-personal-in4> -->
<!-- <app-reset-password></app-reset-password> -->
 <!-- <app-review></app-review> -->
 <!-- <app-forgot-passord></app-forgot-passord> -->
<!-- <app-room-dimension></app-room-dimension> -->
<!-- <app-room-shape></app-room-shape> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-footer></app-footer> -->
<!-- <app-object></app-object> -->
<app-suggest></app-suggest>

<div> 
  <app-header></app-header>                  
  <app-homepage></app-homepage>
</div>


