.review-container{
    border: 1px solid #DAA86D; /* Đường viền 2px màu đen */
    padding: 10px; /* Khoảng cách bên trong khung */
    width: 500px; /* Chiều rộng khung */
    height: 400px; /* Chiều cao khung */
    margin-top: 633px;
    margin-left: 500px;
}
.title{
    font-size: 16px;
    color: #DAA86D;
    text-align: center;
    margin-top: 18px;


    

    
}
.review-textarea{
    width: 445px;
    height: 118px;
    margin-top: 30px;
    margin-left: 18px;
    font-size: 12px ;
    border: 1px solid #DAA86D;


}
.rating-section {

    gap: 10px;
    margin-left: 18px;
    margin-top: 20px;
    display: flex;

    gap: 20px;

}

.rating-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.stars {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 24px;
    color: #D9D3C5;
    transition: color 0.3s;
}

.star.filled {
    color: #DAA86D;
}
.button-group {
    display: flex;
    gap: 16px; /* Khoảng cách giữa hai nút */
    margin-left: 256px;
    margin-top: 20px;
}

.submit-btn {
    height: 40px;
    width: 100px;
    background-color: #DAA86D; /* Màu nâu vàng */
    color: white;
    border: none;
    border-radius: 6px; /* Bo góc */
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn {
    height: 40px;
    width: 100px;
    background-color: #8D7B65; /* Màu nâu xám */
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* Hiệu ứng hover */
.submit-btn:hover {
    background-color: #C0925E;
}

.cancel-btn:hover {
    background-color: #7A6A5B;
}




