
.blog-list .blog-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.text-orange {
    color: #DAA86D;
    text-decoration: none;
}

.text-orange:hover {
    text-decoration: underline;
}

h2{
    color:#402A1D;
}
.blog-list h5{
    color:#402A1D;
}

.blog-meta {
    color: #DAA86D;
    font-size: 14px;
    margin-top: 5px;
}

.blog-meta .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px; 
}
h2{
    border-bottom: 2px solid #DAA86D;
}



