<div class="khung-dat-lai-mat-khau">
    <h2 class="tieu-de">Reset Password</h2>
    <p class="mo-ta">
      Please use a strong password<br />
      (Must be 8 characters at least)
    </p>
  
    <form class="form-dat-lai-mat-khau">
      <div class="nhom-form">
        <label for="matKhau">Password</label>
        <input
        type="password"
        id="matKhau"
        placeholder="Enter your new password"
        class="o-nhap-mat-khau"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}" 
        required
      />
      </div>
  
      <div class="nhom-form">
        <label for="xacNhanMatKhau">Confirm Password</label>
        <input
        type="password"
        id="xacNhanMatKhau"
        placeholder="Confirm your new password"
        class="o-nhap-mat-khau"
        [(ngModel)]="confirmPassword"
        [ngModelOptions]="{standalone: true}" 
        required
      />
      </div>
  
      <button type="submit" class="nut-xac-nhan" (click)="onSubmit()">
        SUBMIT
      </button>
    </form>
  </div>
  