<link rel="stylesheet" href="sign-up.component.css">

<div class="dang_ky">
  <h2 class="tieu_de">Create your account</h2>
  <form class="form_dang_ky">
    <input type="text" class="khung_nhap" placeholder="Enter your name">
    <input type="email" class="khung_nhap" placeholder="Type your Email">
    <input type="password" class="khung_nhap" placeholder="Type your Password">
    <input type="password" class="khung_nhap" placeholder="Confirm Password">

    <p class="ghi_chu">Must be 8 characters at least</p>

    <div class="dong_dieu_khoan">
      <input type="checkbox" class="nut_tich">
      <span class="chu_dieu_khoan">
        By creating an account means you agree to the <a href="#">Terms and Conditions</a>,
        and our <a href="#">Privacy Policy</a>.
      </span>
    </div>

    <button type="submit" class="nut_dang_ky">CREATE ACCOUNT</button>

    <p class="chu_dang_nhap">
      Already have account <a href="#" class="link_dang_nhap">Login</a>
    </p>

    <p class="chu_khac">or do it via other accounts</p>

    <div class="nut_mang_xa_hoi">
      <a href="#" class="link_gg">
        <img src="assets/ggicon.png" alt="Google" class="icon_xa_hoi">
      </a>
    </div>

  </form>
</div>


  
  
