<div class="container-forgot-password">
    <h2 class="title">Change Password</h2>
    <p class="description">
      Enter your email and we’ll send you instructions on how to reset your password
    </p>
  
    <form class="form-forgot-password">
      <input
        type="email"
        placeholder="Enter your email address"
        class="input-email"
        required
      />
  
      <div class="buttons-container">
        <button type="button" class="btn-submit" (click)="onSubmit()">SUBMIT</button>
        <button type="button" class="btn-cancel" (click)="onCancel()">CANCEL</button>
      </div>
      
    </form>
  </div>