<div class="center-container">
  <div class="container-forgot-password">
    <h2 class="text-secondary text-center fw-bold">Change Password</h2>
    <p class="text-primary text-center">
      Enter your email and we’ll send you instructions on how to reset your password
    </p>
  
    <form class="form-forgot-password">
      <input
        type="email"
        placeholder="Enter your email address"
        class="input-email"
        required
      />
  
      <div class="buttons-container">
        <button type="button" class="btn fw-bold btn-primary" (click)="onSubmit()">SUBMIT</button>
        <button type="button" class="btn fw-bold btn-secondary" (click)="onCancel()">CANCEL</button>
      </div>
    </form>
  </div>
</div>